<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="text-center">
    <h3><strong>Registro De Nexxus</strong></h3>
</div>

<ion-thumbnail class="ion-margin-bottom full-image">
    <img alt="Logo" src="../../assets/imgs/nexxus.png" />
</ion-thumbnail>

  <ion-card class="custom-card">
    <form [formGroup]="personaForm" (ngSubmit)="registrar()">
      <ion-input formControlName="rut" type="text" labelPlacement="stacked" label="RUT"></ion-input>
      <ion-input formControlName="usuario" type="text" labelPlacement="stacked" label="Usuario" fill="outline"></ion-input>
      <ion-input formControlName="email" type="email" labelPlacement="stacked" label="Email" fill="outline"></ion-input>
      <ion-input formControlName="contrasena" type="password" labelPlacement="stacked" label="Contraseña" fill="outline"></ion-input>
      <div *ngIf="personaForm.errors?.['passwordMismatch']" class="error-message">

        Las contraseñas no coinciden.
      </div>
      <ion-input formControlName="contrasena_conf" type="password" labelPlacement="stacked" label="Confirme la Contraseña" fill="outline"></ion-input>

      
      <ion-input formControlName="fecha_nacimiento" type="date" labelPlacement="stacked" label="Fecha nacimiento" fill="outline"></ion-input>
      <div *ngIf="personaForm.get('fecha_nacimiento')?.errors?.['edadInvalida']" class="error-message">
        Debes tener al menos 18 años.
      </div>
      

      <ion-item>
        <ion-label>¿Tiene vehículo?</ion-label>
        <ion-checkbox formControlName="tieneVehiculo" (ionChange)="toggleFormulario()"></ion-checkbox>
      </ion-item>

      <div *ngIf="personaForm.get('tieneVehiculo')?.value">
        <ion-card class="vehicle-card">
          <ion-input formControlName="patente" type="text" labelPlacement="stacked" label="Patente" fill="outline"></ion-input>
          <ion-input formControlName="marca" type="text" labelPlacement="stacked" label="Marca del auto" fill="outline"></ion-input>
          <ion-input formControlName="modelo" type="text" labelPlacement="stacked" label="Modelo del auto" fill="outline"></ion-input>
          <ion-input formControlName="color" type="text" labelPlacement="stacked" label="Color del auto" fill="outline"></ion-input>
        </ion-card>
      </div>

      <div>
        <ion-button *ngIf="!personaForm.get('tieneVehiculo')?.value" id="present-alert" [disabled]="personaForm.invalid" type="submit" expand="full" color="secondary">REGISTRAR</ion-button>
        <ion-button *ngIf="personaForm.get('tieneVehiculo')?.value" [disabled]="personaForm.invalid" type="submit" expand="full" color="secondary">REGISTRAR CON VEHÍCULO</ion-button>
      </div>
    </form>
      
  </ion-card>

</ion-content>
