<ion-content [fullscreen]="true">
  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img src="assets/icon/iconPerfil1.webp">
      </ion-avatar>
    </div>
  </ion-grid>

  <ion-row class="ion-padding-horizontal">
    <ion-col size="6">
      <ion-item lines="none" class="ion-text-center">
        <ion-icon name="car" color="primary"></ion-icon>
        <ion-title>Piloto</ion-title>
        <ion-label>
          3
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none" class="ion-text-center">
        <ion-icon name="people" color="primary"></ion-icon>
        <ion-title>Pasajero</ion-title>
        <ion-label>
          15
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-list lines="full">
    <ion-item>
      <ion-label>
        <ion-text>Nombre</ion-text>
        <p>{{ usuario?.getUsuario() }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Correo</ion-text>
        <p>{{ usuario?.getEmail() }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>RUT</ion-text>
        <p>{{ usuario?.getRut() }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Fecha de nacimiento</ion-text>
        <p>{{ usuario?.getFechaNacimiento() | date }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
          <ion-text>Vehículo</ion-text>
          <p>{{ usuario?.tieneVehiculo() ? 'Sí' : 'No' }}</p>
          <div *ngIf="usuario?.tieneVehiculo()">
              <!-- <p>Patente: {{ usuario?.getVehiculo() }}</p>
              <p>Marca: {{ usuario?.getVehiculo()?.getMarca() }}</p>
              <p>Modelo: {{ usuario?.getVehiculo()?.getModelo() }}</p>
              <p>Color: {{ usuario?.getVehiculo()?.getColor() }}</p>
              <p>Plazas: {{ usuario?.getVehiculo()?.getPlazas() }}</p>-->
          </div>
      </ion-label>
  </ion-item>

  
    
    
  </ion-list>
</ion-content>
