<ion-content [fullscreen]="true">
  
  <div class="circleBase type1"></div> 
  <div class="circleBase type2 circle2"></div>
  <div class="circleBase type2 circle3"></div> 

  <ion-label class="MensajeBienvenida">
    <ion-text color="light">Bienvenido a,</ion-text>
    <p><img src="../../assets/imgs/nexxus.png" alt="Logo" class="logo"></p>
  </ion-label>

  <!-- Recuadro para las utilidades 
  <div class="utilidades-recuadro">
    <h3>¡Bienvenido a nuestra aplicación! Nuestro objetivo es asegurarte un viaje seguro y saludable hacia tu hogar, especialmente en estos tiempos de pandemia.</h3>
    <ul>
      <img src="../../assets/imgs/duoc.jpg" alt="Descripción de la imagen" class="mi-imagen">
    </ul>
    <h2>Utilidades de nuestra app!</h2>
    <ul>
      <li>-Planificación de Viajes</li>
      <li>-Personalización del Perfil</li>
      <li>-Seguridad de Cuentas</li>
    </ul>
  </div>-->

  <div id="map_html"></div>

</ion-content>


    

