<ion-content [fullscreen]="true">

  <div class="circleBase type1"></div> 
  <div class="circleBase type2 circle2"></div>
  <div class="circleBase type2 circle3"></div> 

  <ion-label class="MensajeBienvenida">
    <ion-text color="light">Bienvenido a,</ion-text>
    <p><img src="../../assets/imgs/nexxus.png" alt="Logo" class="logo"></p>
  </ion-label>

  <h2 class="titulo">Planifica tu Viaje</h2>

  <!-- Campo para el destino -->
  <ion-item>
    <ion-label position="floating">Destino</ion-label>
    <ion-input [(ngModel)]="destino" placeholder="Ej. Playa, Montañas..." readonly></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Distancia (KM)</ion-label>
    <ion-input type="number" [(ngModel)]="distancia_metros" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Tiempo (Minutos)</ion-label>
    <ion-input type="number" [(ngModel)]="tiempo_segundos" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Coste</ion-label>
    <ion-input type="number" [(ngModel)]="coste"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="guardarViaje()">Guardar Viaje</ion-button>

  <div id="map_html" style="height: 300px; margin-top: 20px;"></div>

</ion-content>
