<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-thumbnail class="ion-margin-bottom">
    <img alt="Logo" src="assets/icon/jakartaEE.png" />
  </ion-thumbnail>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Login de Usuario</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <form (ngSubmit)="login()">
        <ion-item>
          <ion-icon name="mail" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="email" type="email" name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock-closed" slot="start" color="primary"></ion-icon>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password" name="password" required></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" color="secondary" class="ion-margin-top">Ingresar</ion-button>
      </form>
      
      <div class="ion-text-center ion-margin-top">
        <p>No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a></p>
        <p><a routerLink="/recuperar-contrasena">¿Olvidaste tu contraseña?</a></p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
